<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwclaims.claimapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.AddReportActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" />
        <activity
            android:name=".activity.VerifyReportActivity"
            android:label="@string/title_activity_verify"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".activity.TableNameListActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.TablelistDataActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.ReportListActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" />
        <activity android:name=".activity.ReportzActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.DamageActivity">
        </activity>
        <activity android:name=".activity.CustomReportActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
    </application>
</manifest>